ul,ol {list-style-type: none; padding-left: 0;}
body {margin: 0; padding:0;}
button {all: unset;}
a{text-decoration: none; color: black;}
/* header header header header header  */
header {
    box-shadow: 1px 5px 3px #ccc;
    padding: 8px 12px;
    align-items: center;
    margin-bottom: 1rem;
}

.header-container {
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

header .left {
    display: flex;

}

header .left img {
    margin-right: 10px;
}

header .left .title {
    display: flex;
    flex-direction: column;
}

header .right {
    display: flex;
    align-items: center;
}

header .right button {
    all:unset;
    cursor: pointer;
    margin-right: 1rem;
    border-bottom: 1px solid black;
}

header .right a {
    background-color: #E0001B;
    color: #FDFFDA;
    text-align: center;
    border: 1px solid #FDFFDA;
    padding: 0.5rem 2.5rem;
    font-size: 1.2rem;
}
/* nav nav nav nav nav nav nav nav */
nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0 12px;
}

.nav-container {
    min-width: 1600px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

nav .left {
    display: flex;
    align-items: center;
}

.left a {
    width: 137px;
    padding:0.5rem 0.8rem;
    margin-right: 0;
}

.left a img {
    width: 100%;
}

nav {
    position: relative;
}

nav .left .leftNav {
    display: flex;
}

nav .left .leftNav li {
    margin-right: 1rem
}

nav .left .leftNav li a:hover {
    border-bottom: 2px solid black;
}


nav .right ul{
    display: flex;
}

nav .right li {
    margin-left: 2rem;
}

nav .right li a:hover {
    border-bottom: 2px solid black;
}

nav .right li button {
    cursor: pointer;
}

nav .right li button span:hover {
    border-bottom: 2px solid black;
}

.drop-container {
    display: none;
    font-size: 0.875rem;
    justify-content: flex-start;
    position: absolute;
    top: 80%;
    right:15%;
    background-color: #F2F2F2;
    width: 1227.778px;
    height: 393.107px;
    z-index: 5;
    border-bottom: 2px solid black;
}

.drop-container button {
    width: 141px;
    height: 17.771px;
    font-weight: 600;
    padding: 1.125rem 1.5rem 1.875rem;
}

.drop-container li ul li {
    width: 195px;
    height: 45.77px;
}

.drop-container li ul li a {
    display: inline-block;
    width: 171px;
    height: 17.771px;
    padding: 12px 0 12px 24px;
}

.drop-container li ul li a:hover {
    text-decoration: underline;
}

/* main & slideshow */
.main {
    text-align: center;
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
}

.main .slideContent {
    position: relative;
    margin: 0 auto;
    max-width: 1600px;
    display: none;
}

.main .slideContent .explain {
    width: 50%;
    max-width: 500px;
    position: absolute;
    top: 25%;
    left: 10%;
    right: 0;
    bottom: 0;
    text-align: left;
}

.main .slideContent .explain h1{
    font-size: 2.5rem;
    margin-bottom: 0;
}

.main .slideContent .explain h2{
    font-size: 2.5rem;
    margin-bottom: 0;
}

.main .slideContent .explain p {
    margin-bottom: 1.5rem;
}

.main .slideContent .explain a {
    display: inline-block;
    background: #000000 ;
    color: #fff;
    padding: 8px 20px;
    font-weight: bold;
}

.prev, .next {
    position: absolute;
    top: 45%;
    background-color: #EAEDEF;
    width: 3rem;
    height: 3rem;
    color: #595A59;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 50%;
    display: none;
    text-align: center;
}



.next {
    right:0;
}
.dots {
    position: absolute;
    bottom: 0;
}

/* Product Icons CSS made with flex */
.product-icons {
    max-width: 1600px;
    margin: 0 auto;
    font-weight: bold;
    padding-top: 4rem;
}

.product-container {
    max-width: 800px;
    display: flex;
    margin: 0 auto;
}

.product-container li {
    width: 12.5rem;
    height: 8rem;
}

.product-icons u.product-container li a {
    text-align: center;
    padding: 8px 12px;
}

.product-icons .product-container li img {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 0.8rem;
    padding-right: 0.3rem;
}

.product-icons .product-container li div {
    width: 125px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
}

.product-icons .product-container li:hover {
    text-decoration-line: underline;
}

/* FaceProduct made with gird */


.faceProduct {
    max-width: 1600px;
    margin: 0 auto;
}

.faceProduct ul{
    display: flex;
    justify-content: space-between;
    
}

.faceProduct ul li {
    max-width: 22rem;
}

.faceProduct ul li:hover {
    filter: brightness(102%);
}

.faceProduct ul li:nth-of-type(1):hover {
    filter: brightness(110%);
}

.faceProduct ul li:nth-of-type(4):hover {
    filter: brightness(110%);
}

.faceProduct ul li .explain {
    width: 100%;
}



/* .faceModal ul li a {
    display: flex;
    flex-direction: column;
} */

/* MS365-container */

.ms365-container {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;

}


.ms365-container .explain {
    width: 50%;
    max-width: 500px;
    position: absolute;
    top: 25%;
    left: 10%;
    right: 0;
    bottom: 0;
    text-align: left;
}

.ms365-container .explain h2{
    font-size: 2.5rem;
    margin-bottom: 0;
}

.ms365-container .explain p {
    margin-bottom: 1.8rem;
}
/* 적용 안됨 해결 필요 해결 된 후 수치 조정 */
/* .faceProduct ul li:nth-of-type(6):hover {
    filter: brightness(200%);
} */

.ms365-container .explain a:nth-of-type(2) {
    display: inline-block;
    background: #000000 ;
    color: #fff;
    padding: 8px 20px;
    font-weight: bold;
    margin-right: 2rem;
}


.ms365-container .explain a:nth-of-type(3){
    display: inline-block;
    background: #E8E8E8 ;
    color: #000;
    padding: 8px 20px;
    font-weight: bold;
}

.ms-sns {
    max-width: 1600px;
    margin:0 auto;
    display: flex;
    align-items: center;
    color: rgba(0,0,0,.6);
    font-size: 1.2rem;
}

.ms-sns ul {
    display: flex;
}

.ms-sns span {
    margin-right: 1rem;
}

.ms-sns ul li {
    margin-right: 1rem;
}

footer {
    background-color: #F2F2F2;
}
footer .footer-container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

footer .footer-container div {
    color: #616161;
    font-weight: 600;
}

footer .footer-container li {
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 11px;
    cursor: pointer;
}

footer .footer-container li:hover {
    text-decoration: underline;
}

footer .bottom {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

footer .bottom >a {
    color: #616161;
    font-size: 11px;
}

footer .bottom >a:hover {
    text-decoration: underline;
}

footer .bottom i {
    margin-right: 0.5rem;
}

footer .bottom ul {
    display: flex;
}

footer .bottom ul li a {
    margin-left: 1rem;
    font-size: 11px;
    color: #616161;

}

footer .bottom ul li:hover {
    text-decoration: underline;
}

.show {
    display: block;
}

.active {
    display: block;
}

.flexAct {
    display: flex;
}