.wrapper{
    width:  1500px;
    margin-right: auto;
    margin-left: auto;
}

.nav {
    display: grid;
    grid-template-columns: 0.5fr 3.4fr 2.5fr 2.2fr;
    text-align: center;
    font-size: 14px;
}

.nav-left {
    line-height: 50px;
    margin-right: 100px;
}

.nav-left-item{
    margin-left: 20px;
    color: black;
    text-decoration: none;
}

.nav-left-item:hover {
    border-bottom: 2px solid black;
}

.nav-right {
    line-height: 50px;
}

.all-dropdown-wrapper-class {
    display: inline-block;
}

.all-dropdown-btn {
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.all-dropdown-btn:focus {
    background-color: #bfbfbf;
}

.all-dropdown-contents {
    position: absolute;
    background-color: #bfbfbf;
    list-style: none;
    z-index: 1;
    display: none;
}

.all-dropdown-contents a{
    color: black;
    text-decoration: none;
    font-size: 16px
}

.all-dropdown-contents a:hover{
    border-bottom: 1px solid black;
}

.nav-right-item {
    margin-left: 20px;
    color: black;
    text-decoration: none;
}


.nav-right-item:hover {
    border-bottom: 2px solid black;
}

.show {
    display: block;
}