.wrapper{
    width:  1500px;
    margin-right: auto;
    margin-left: auto;
}

.nav {
    display: grid;
    grid-template-columns: 0.5fr 3.4fr 2.5fr 2.2fr;
    text-align: center;
    font-size: 14px;
}

.nav-left {
    line-height: 50px;
    margin-right: 100px;
}

.nav-left-item{
    margin-left: 20px;
    color: black;
    text-decoration: none;
}

.nav-left-item:hover {
    border-bottom: 2px solid black;
}

.nav-right {
    line-height: 50px;
}

.all-dropdown-wrapper-class {
    display: inline-block;
}

.all-dropdown-btn {
    border: none;
    /*background-color: #fff; 버튼 만들고 나서 주석처리 해제할 것*/
    cursor: pointer;
}

.nav-right-item {
    margin-left: 20px;
    color: black;
    text-decoration: none;
}


.nav-right-item:hover {
    border-bottom: 2px solid black;
}
