.dropdown-list-group {
    background-color: #F2F2F2;
    display: none;
    z-index: 1;
}

.dropdown-child-btn{
    display: inline-block;
    text-align: left;
    cursor: default;
    width: 195px;
    border: none;
    background-color: #F2F2F2;
    font-weight: 600;
    font-size: 16px;
    z-index: 1;

}

.dropdown-parents-ul {
    list-style: none;
    text-align: left;
    font-size: 16px;
}

.dropdown-child-list {

}

.dropdown-child-list a {
    text-decoration: none;
    color: #262626;
}
.dropdown-child-list a:hover {
    border-bottom: 1px solid black;
}

.show {
    display: block;
}