.slide-contents {
    text-align: center;
    max-width: 1920px;
    background-color: #3D4064;
    margin: auto;
    position: relative;
}

.back-color {}

.slide-contents h1 {color: white;}

.slide-contents p {color: white;}